@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 background: url("./assets/star.jpg") no-repeat center center fixed;
 background-size: 80%;
  font-size: 1.5rem;
  color: white;
}

button {
  font-size: 1.5rem;
}

/* Increase STAR MAKER title size */
.title {
  font-size: 4rem;
}

